<h2>Telefoni</h2>

@if (loading) {
  <p>Caricamento...</p>
}
@if (error) {
  <p>Errore nel caricamento prodotti.</p>
}

@if (!loading && !error) {
  <div>
    @if (products.length === 0) {
      <div>Nessun telefono trovato.</div>
    }
    @for (p of products; track p) {
      <div style="border:1px solid #ddd; padding:12px; border-radius:8px; margin-bottom:12px;">
        <img [src]="p.image_url" [alt]="p.name" style="width:200px; height:auto;" />
        <h3>{{ p.name }}</h3>
        <div>€ {{ p.price }}</div>
        <small>Categoria: {{ p.category }}</small>
        <p>{{ p.description }}</p>
      </div>
    }
  </div>
}
